# Django
__pycache__/
*.py[cod]
*$py.class

# Backup files from sed/ed
*.bak

# SQLite DB (не коммитим базу!)
db.sqlite3

# Virtual environments
venv/
.venv/
env/

# IDE / editor
.idea/
.vscode/
*.swp
*.swo
